<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body class="container">
    <header th:replace="fragments :: header"></header>
<!--    <p th:text="${errorMsg}" style="color:red;"></p>-->

    <form method="post" action="/coding-events/create">
        <div class="form-group">
            <lable>Name
                <input type="text" th:field="${event.name}" class="form-control">
            </lable>
            <p class="error" th:errors="${event.name}"></p>
            <lable>Description
                <input type="text" th:field="${event.description}" class="form-control">
            </lable>
            <p class="error" th:errors="${event.description}"></p>
            <lable>Contact Email
                <input type="text" th:field="${event.contactEmail}" class="form-control">
            </lable>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success">
        </div>
    </form>

</body>
</html>