<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body class = "container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <lable th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}" />
        </lable>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <lable>Password
            <input class="form-control" type="password" th:field="${loginFormDTO.password}" />
        </lable>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p> Don't have an account ?<a href="/register">Register for one.</a></p>

</body>
</html>